@import "tailwindcss";

@theme {
  --font-sans: "Pretendard";
  /* line-height */
  --leading-140: 140%;
  /* letter-spacing */
  --tracking-tight-custom: -0.025em;

  /* CSS 변수 */
  --color-admin-white: #d9d9d9;
  --color-admin-red: #e55336;
  --color-admin-blue: #756def;

  --color-admin-disable: #5a5a5a;
  --color-admin-box: #1d1d1d;
  --color-admin-sub: #717171;
  --color-admin-label: #6d6d6d;

  --color-admin-background: #060b0d;

  --color-admin-outline: #ffffff;
  --color-admin-outline-2: #313131;
}

a {
  text-decoration: none;
}
